<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
    <link rel="shortcut icon" href="/icons/folder.png" type="image/x-icon" />
    <link rel="stylesheet" href="/styles/dashboard.css" />
    <script src="/js/dashboardDOM.js" defer></script>
  </head>
  <body>
    <div class="dashboard-container">
      <div class="sidebar">
        <div class="sidebar-header">
          <div class="web-title-head web-title">
            <img src="/icons/folder.png" class="header-icon" />
            <p class="header-web-title-text">Drive</p>
          </div>
          <button class="sidebar-toggle">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              strokeWidth="{1.5}"
              stroke="currentColor"
              class="size-6 sidebar-toggle-icon"
            >
              <path
                strokeLinecap="round"
                strokeLinejoin="round"
                d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"
              />
            </svg>
          </button>
        </div>
        <div class="add-btn-ctr">
          <button class="add-btn folder-options">
            <span class="add-text"
              ><p class="plus-symbol">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  strokeWidth="{5}"
                  stroke="currentColor"
                  className="size-6 plus-symbol"
                >
                  <path
                    strokeLinecap="round"
                    strokeLinejoin="round"
                    d="M12 4.5v15m7.5-7.5h-15"
                  />
                </svg>
              </p>
              <p>New</p></span
            >
          </button>
          <div class="popup">
            <button class="opt-btn create-folder">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                strokeWidth="{1.5}"
                stroke="currentColor"
                class="size-6 trash-icon"
              >
                <path
                  strokeLinecap="round"
                  strokeLinejoin="round"
                  d="M2.25 12.75V12A2.25 2.25 0 0 1 4.5 9.75h15A2.25 2.25 0 0 1 21.75 12v.75m-8.69-6.44-2.12-2.12a1.5 1.5 0 0 0-1.061-.44H4.5A2.25 2.25 0 0 0 2.25 6v12a2.25 2.25 0 0 0 2.25 2.25h15A2.25 2.25 0 0 0 21.75 18V9a2.25 2.25 0 0 0-2.25-2.25h-5.379a1.5 1.5 0 0 1-1.06-.44Z"
                />
              </svg>

              <p>Create Folder</p>
            </button>

            <button class="opt-btn upload-file">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                strokeWidth="{1.5}"
                stroke="currentColor"
                class="size-6 trash-icon"
              >
                <path
                  strokeLinecap="round"
                  strokeLinejoin="round"
                  d="M9 8.25H7.5a2.25 2.25 0 0 0-2.25 2.25v9a2.25 2.25 0 0 0 2.25 2.25h9a2.25 2.25 0 0 0 2.25-2.25v-9a2.25 2.25 0 0 0-2.25-2.25H15m0-3-3-3m0 0-3 3m3-3V15"
                />
              </svg>

              <p>Upload File</p>
            </button>
          </div>
        </div>
        <div class="sidebar-component-ctr">
          <button class="home sidebar-comp">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="2.5"
              stroke="currentColor"
              class="size-6 s-comp-icon"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="m2.25 12 8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25"
              />
            </svg>
            <p class="comp-text">Home</p>
          </button>

          <button class="dashboard sidebar-comp">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="2.5"
              stroke="currentColor"
              class="size-6 s-comp-icon"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M15.666 3.888A2.25 2.25 0 0 0 13.5 2.25h-3c-1.03 0-1.9.693-2.166 1.638m7.332 0c.055.194.084.4.084.612v0a.75.75 0 0 1-.75.75H9a.75.75 0 0 1-.75-.75v0c0-.212.03-.418.084-.612m7.332 0c.646.049 1.288.11 1.927.184 1.1.128 1.907 1.077 1.907 2.185V19.5a2.25 2.25 0 0 1-2.25 2.25H6.75A2.25 2.25 0 0 1 4.5 19.5V6.257c0-1.108.806-2.057 1.907-2.185a48.208 48.208 0 0 1 1.927-.184"
              />
            </svg>
            <p class="comp-text">Dashboard</p>
          </button>
        </div>
      </div>

      <div class="main">
        <div class="main-header">
          <div class="search-input-ctr">
            <!-- <input type="text" placeholder="search-bar" /> -->
            <button class="sidebar-toggle main hidden">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                strokeWidth="{1.5}"
                stroke="currentColor"
                class="size-6 sidebar-toggle-icon"
              >
                <path
                  strokeLinecap="round"
                  strokeLinejoin="round"
                  d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"
                />
              </svg>
            </button>
          </div>
          <div class="profile-pict-ctr">
            <button class="toggle-theme" onclick="toggleTheme()">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                strokeWidth="{1.5}"
                stroke="currentColor"
                class="size-6 moon-icon theme-icon"
              >
                <path
                  strokeLinecap="round"
                  strokeLinejoin="round"
                  d="M21.752 15.002A9.72 9.72 0 0 1 18 15.75c-5.385 0-9.75-4.365-9.75-9.75 0-1.33.266-2.597.748-3.752A9.753 9.753 0 0 0 3 11.25C3 16.635 7.365 21 12.75 21a9.753 9.753 0 0 0 9.002-5.998Z"
                />
              </svg>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                strokeWidth="{1.5}"
                stroke="currentColor"
                class="size-6 sun-icon theme-icon"
              >
                <path
                  strokeLinecap="round"
                  strokeLinejoin="round"
                  d="M12 3v2.25m6.364.386-1.591 1.591M21 12h-2.25m-.386 6.364-1.591-1.591M12 18.75V21m-4.773-4.227-1.591 1.591M5.25 12H3m4.227-4.773L5.636 5.636M15.75 12a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0Z"
                />
              </svg>
            </button>
            <button class="profile-pict folder-options">
              <%=local.username.split("")[0] %>
            </button>
            <div class="popup logout">
              <button class="opt-btn delete-btn" onclick="logOut()">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  strokeWidth="{1.5}"
                  stroke="currentColor"
                  class="size-6 trash-icon"
                >
                  <path
                    strokeLinecap="round"
                    strokeLinejoin="round"
                    d="M8.25 9V5.25A2.25 2.25 0 0 1 10.5 3h6a2.25 2.25 0 0 1 2.25 2.25v13.5A2.25 2.25 0 0 1 16.5 21h-6a2.25 2.25 0 0 1-2.25-2.25V15m-3 0-3-3m0 0 3-3m-3 3H15"
                  />
                </svg>

                <p>Log out</p>
              </button>
              <!-- <button class="opt-btn upload-btn">Upload file</button> -->
            </div>
          </div>
        </div>
        <div class="main-content">
          <!-- <h2>Current Folder: <%= folder.path %></h2> -->
          <div class="main-content-title">
            <p class="welcome-text"></p>
          </div>

          <section>
            <div class="btn-section-ctr">
              <button class="show-folder-btn toggle-btn">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  strokeWidth="{1.5}"
                  stroke="currentColor"
                  class="size-6 arrow-up arrow-icon"
                >
                  <path
                    strokeLinecap="round"
                    strokeLinejoin="round"
                    d="m4.5 15.75 7.5-7.5 7.5 7.5"
                  />
                </svg>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  strokeWidth="{1.5}"
                  stroke="currentColor"
                  class="size-6 arrow-down arrow-icon"
                >
                  <path
                    strokeLinecap="round"
                    strokeLinejoin="round"
                    d="m19.5 8.25-7.5 7.5-7.5-7.5"
                  />
                </svg>

                Suggested folder
              </button>
            </div>

            <div class="folder-container">
              <% folder.subfolders.forEach(sub => { %> <% let folderPath =
              sub.path.replace(`uploads/dashboard-${local.id}/`, ""); %>
              <div
                class="folder-1 folder"
                ondblclick="redirectPageToFolder('<%=folderPath%>')"
              >
                <img
                  class="small-folder-icon"
                  src="../icons/small-folder.png"
                  alt=""
                />
                <div class="folder-name"><%=sub.name%></div>
                <button class="folder-options">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    fill="currentColor"
                    class="bi bi-three-dots-vertical"
                    viewBox="0 0 16 16"
                    class="dot-img"
                  >
                    <path
                      d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0m0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0m0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0"
                    />
                  </svg>
                </button>
              </div>
              <div class="popup">
                <button
                  class="opt-btn delete-btn"
                  onclick="deleteFolder('<%=sub.id%>')"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    strokeWidth="{1.5}"
                    stroke="currentColor"
                    class="size-6 trash-icon"
                  >
                    <path
                      strokeLinecap="round"
                      strokeLinejoin="round"
                      d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0"
                    />
                  </svg>
                  <p>Delete</p>
                </button>
                <!-- <button class="opt-btn upload-btn">Upload file</button> -->
              </div>
              <% }); %>
            </div>
          </section>
          <section>
            <div class="btn-section-ctr">
              <button class="show-file-btn toggle-btn">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  strokeWidth="{1.5}"
                  stroke="currentColor"
                  class="size-6 arrow-up arrow-icon"
                >
                  <path
                    strokeLinecap="round"
                    strokeLinejoin="round"
                    d="m4.5 15.75 7.5-7.5 7.5 7.5"
                  />
                </svg>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  strokeWidth="{1.5}"
                  stroke="currentColor"
                  class="size-6 arrow-down arrow-icon"
                >
                  <path
                    strokeLinecap="round"
                    strokeLinejoin="round"
                    d="m19.5 8.25-7.5 7.5-7.5-7.5"
                  />
                </svg>
                Suggested file
              </button>
            </div>
            <div class="file-container">
              <% function formatFileSize(size) { %> <% if (size < 1024) { %> <%=
              size + ' B' %> <% } else if (size < 1024 * 1024) { %> <%= (size /
              1024).toFixed(2) + ' KB' %> <% } else if (size < 1024 * 1024 *
              1024) { %> <%= (size / (1024 * 1024)).toFixed(2) + ' MB' %> <% }
              else { %> <%= (size / (1024 * 1024 * 1024)).toFixed(2) + ' GB' %>
              <% } %> <% } %>
              <table class="main-table">
                <tr class="column-name">
                  <th>Name</th>
                  <th class="th-date">Date uploaded</th>
                  <th class="th-type">Type</th>
                  <th class="th-size">Size</th>
                  <th class="th-opt"></th>
                </tr>
                <% folder.files.forEach(file => { %>
                <tr class="column-data">
                  <% const cleanFilename =
                  file.filename.replace(/^uploads\/\d+-/, "") %>
                  <td class="td-name"><%= cleanFilename %></td>
                  <td class="td-date">
                    <%= new Date(file.uploadedAt).toLocaleDateString('en-GB', {
                    day: 'numeric', month: 'short', year: 'numeric' }) %>
                  </td>
                  <td class="td-type"><%= file.mimetype.split("/")[0] %></td>
                  <td class="td-size"><%= formatFileSize(file.size) %></td>

                  <td>
                    <button class="folder-options file-opt">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="16"
                        height="16"
                        fill="currentColor"
                        class="bi bi-three-dots-vertical"
                        viewBox="0 0 16 16"
                        class="dot-img"
                      >
                        <path
                          d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0m0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0m0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0"
                        />
                      </svg>
                    </button>
                  </td>
                </tr>
                <div class="popup">
                  <button
                    class="opt-btn delete-btn"
                    onclick="deleteFile('<%= file.id %>')"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      strokeWidth="{1.5}"
                      stroke="currentColor"
                      class="size-6 trash-icon"
                    >
                      <path
                        strokeLinecap="round"
                        strokeLinejoin="round"
                        d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0"
                      />
                    </svg>
                    <p>Delete</p>
                  </button>
                </div>
                <% }) %>
              </table>
            </div>
          </section>
        </div>
      </div>
    </div>

    <dialog class="create-folder-dialog">
      <div class="dialog-ctr c-folder">
        <p class="c-f-title">New folder</p>
        <form method="post" action="/dashboard/create" class="c-f-form">
          <input type="hidden" name="userId" value="<%= local.id %>" />
          <input
            type="hidden"
            name="parentPath"
            value="<%= folder ? folder.path : '' %>"
          />
          <input
            type="text"
            name="folderName"
            placeholder="Folder Name"
            required
            maxlength="20"
            class="folder-name-input"
          />
          <div class="c-f-btn">
            <button class="c-f-cancel" type="button">Cancel</button>
            <button type="submit" class="c-f-submit">Create</button>
          </div>
        </form>
      </div>
    </dialog>

    <dialog class="upload-dialog">
      <div class="dialog-ctr">
        <p class="c-f-title">Upload file</p>
        <form
          action="/dashboard/<%= folder.path.replace('uploads/', '') %>/upload"
          method="post"
          enctype="multipart/form-data"
          class="u-form"
        >
          <input
            type="file"
            name="file"
            required
            class="choose-file"
            multiple
          />
          <input type="hidden" name="userId" value="<%= local.id %>" />
          <div class="u-btn">
            <button class="u-cancel" type="button">Cancel</button>
            <button type="submit" class="u-submit">Upload</button>
          </div>
        </form>
      </div>
    </dialog>
  </body>
</html>
